.card {
  margin: 1rem auto;
  width: 70%;
  height: 500px;
}

.card-title {
  margin: 1rem;
  text-align: center;
}

.card-text {
  text-align: center;
}

.form {
  margin: auto;
  width: auto;
}

.form-group {
  margin: 1rem auto;
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
}

.form button {
  margin: 0;
  width: 100%;
}

/* ? MEDIA RULES */

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card {
    width: 50%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .card {
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card {
    width: 30%;
  }
}